//
// color
//////////////////////////////////////////////////////////////////////
$color_darkGray: #151515;
$color_middleGray: #252525;
$color_lightGray: #cccccc;

//
// gradient
//////////////////////////////////////////////////////////////////////
$gradient_primary: linear-gradient(45deg, rgba(95,112,119,1) 0%, rgba(52,20,20,1) 60%, rgba(50,61,99,1) 100%);