.path01,
.path02,
.path03,
.path04 {
  fill:transparent;
  stroke:#FFFFFF;
  stroke-width: 1;
  stroke-miterlimit:10;
  &.animation {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}
.path01 {
  stroke-dashoffset: 336.7806396484375px;
  stroke-dasharray: 336.7806396484375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}
.path02 {
  stroke-dashoffset: 134.23880004882812px;
  stroke-dasharray: 134.23880004882812px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}
.path03 {
  stroke-dashoffset: 222.09339904785156px;
  stroke-dasharray: 222.09339904785156px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}
.path04 {
  stroke-dashoffset: 189.55348205566406px;
  stroke-dasharray: 189.55348205566406px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}
