.wrapper {
  height: calc(100vh - 149px);
  margin-bottom: -300px;
  padding-top: 70px;
  box-sizing: content-box;
  @media (max-width: 999px) {
    height: calc(100vh - 89px);
    margin-bottom: -200px;
    padding-top: 40px;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.errorCode {
  font-size: 8rem;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-bottom: 10px;
  @media (max-width: 999px) {
    font-size: 4rem;
  }
}
.message {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  @media (max-width: 999px) {
    font-size: 1.3rem;
  }
}
