.wrapper {
  position: fixed;
  right: 85px;
  top: 13px;
  z-index: 10;
  cursor: pointer;
  @media (max-width: 999px) {
    right: 50px;
    top: 5px;
  }
}
.icon {
  width: 40px;
  height: 40px;
  @media (max-width: 999px) {
    width: 30px;
    height: 30px;
  }
}
