@use '@/app/styles/variables' as v;

$transitionDelay: 0.5s;

.wrapper {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: v.$color_middleGray;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9;
  transform: translateX(100%);
  transition: 0.5s;
  box-sizing: border-box;
  &.active {
    transform: translateX(0%);
  }
  @media (max-width: 767px) {
    padding: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-gap: 5px;
  }
  &.top {
    position: relative;
    z-index: 1;
    &.fixed {
      position: fixed;
    }
    .item {
      .image {
        transition: 1s $transitionDelay ease-out;
        &.animation {
          transform: translate(0%, 0%) !important;
        }
      }
      &:nth-of-type(1) .image {
        transform: translateY(-100%);
      }
      &:nth-of-type(2) .image {
        transform: translateX(-100%);
      }            
      &:nth-of-type(3) .image {
        transform: translateY(100%);
      }
    }
  }  
}
.item {
  color: inherit;
  display: block;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  @media (min-width: 769px) {
    filter: grayscale(100%) contrast(120%);
    &:hover {
      filter: grayscale(0%) contrast(1);
      .navigation__caption {
        opacity: 1;
      }
    }
  }   
  &:nth-child(1) {
    grid-area: 1 / 1 / 6 / 2;
    @media (max-width: 767px) {
      grid-area: 1 / 1 / 4 / 2;
    }
  }
  &:nth-child(2) {
    grid-area: 1 / 2 / 3 / 3;
    @media (max-width: 767px) {
      grid-area: 4 / 1 / 6 / 2;
    }
  }
  &:nth-child(3) {
    grid-area: 3 / 2 / 6 / 3;
    @media (max-width: 767px) {
      grid-area: 6 / 1 / 9 / 2;
    }
  }    
}
.caption {
  font-size: 6vw;
  font-weight: 100;
  line-height: 1;
  position: absolute;
  right: 4.5vw;
  bottom: 1.5vw;
  z-index: 1;
  opacity: 1;
  mix-blend-mode: hard-light;
  transition: 0.3s;
  @media (max-width: 767px) {
    font-size: 10vw;
    right: 8vw;
    bottom: 3vw;    
  }
  &:before {
    content: "";
    width: calc(100% + 4vw);
    height: 50%;
    border-width: 0px 2.5px 2px 0px;
    border-style: solid;
    border-color: v.$color_lightGray;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    z-index: 0;
    transform: translateX(-50%) skewX(45deg);
    transition: 0.3s;
    @media (max-width: 767px) {
      width: calc(100% + 8vw);
      border-width: 0px 2px 1.5px 0px;
    }
  }
}
.item:hover .caption:before {
  @media (min-width: 769px) {
    transform: translateX(calc(-50% + 10px)) skewX(45deg);
  }
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
